[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=%{name}
Exec=%{launch_prefix}%{command} --no-first-run --ozone-platform=x11 --gtk-version=4 --app="%{url}" --class=brave-%{domain_path}-Default --name=brave-%{domain_path}-Default %{is_isolated ? --user-data-dir} %{is_maximized ? --start-maximized}
X-MultipleArgs=false
Icon=%{icon}
StartupWMClass=brave-%{domain_path}-Default
